.background-enter {
    transform: translateX(100vw);
}
.background-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in-out;
}
.background-leave {
    transform: translateX(0);
}
.background-leave-active {
    transform: translateX(-100vw);
    transition: all 500ms ease-in-out;
}