
.progress {
    overflow: visible;
    height: 4px;
}

.progress-title {
    margin-top: 0;
}

.progress-bar {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.progress-bar.pb-dark {
    background: #111;
}

.progress-bar span {
    position: absolute;
    padding: 4px 0px;
    display: block;
    top: -28px;
    right: 0;
    opacity: 0;
    line-height: 12px;
    font-size: 12px;
    color: #777;
}