

/* Parallax base styles
--------------------------------------------- */

.parallax {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    perspective-origin-x: 100%;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin-x: 100%;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.text-white {
    color: white;
}

/* Larger screens */
@media (min-width: 769px) {
    .parallax__layer--back {
        position: fixed;
        top: 0;
        left: 0;
    }
}

/* Small screens */
@media (max-width: 768px) {
    .parallax__layer--back {
        position: absolute;
        background-size: cover;
    }
}






